@model CommentViewModel
@{
	var strings = ViewBag.Language.Strings;
}

@if (!Model.Deleted)
{
	<div style="margin-left:5em" class="comment" data-id="1">

	  <br />
	  <img src="@Model.User.URLPath" width="32" height="32" style="display:inline" />
	  <div style="display: inline;">
	    <label><b>@Model.User.DisplayName</b> (@Model.Date.ToString("dd-MM-yy"))</label>
	    <p>@Model.Content</p>
	  </div>

	  @if (Model.UserIsLoggedIn) {
        @*The button that brings up the reply field.*@
		  <div class="show_reply_field" style="display:inline">
		    <a href="javascript:void(0)">@strings["Comment_Reply"]</a>
		  </div>
	  }

	  @if (Model.DeletionRights)
	  {
		  <form asp-controller="Comments" asp-action="Delete" style="display:inline" method="post">
		    <input asp-for="ApplicationUserRefId" type="hidden" value="@Model.ApplicationUserRefId" />
		    <input asp-for="CommentID" type="hidden" value="@Model.CommentID" />
		    <span> · </span>
		    <a href="javascript:void(0)" onclick="$(this).closest('form').submit()">@strings["Delete"]</a>
		  </form>
	  }
        @*@if (Model.EditRights)
    {
        <div>
            <div class="show_edit_field" style="display:inline">
                <button class="btn" type="button">
                    E
                </button>
            </div>
            <div style="display:none;" class="edit_field">
                <form asp-controller="Comments" asp-action="Reply" method="post">
                    <input name="Content" type="text" class="materialize-textarea" height="4" width="20" />
                    <input class="btn" type="submit" value="THAT'S BETTER" />
                    <input asp-for="RouteID" type="hidden" value="@Model.RouteID" />
                    <input asp-for="CommentID" type="hidden" value="@Model.CommentID" />
                </form>
            </div>
        </div>
    }*@
	@if (Model.UserIsLoggedIn)
	{
		<div style="display: none;" class="reply_field">
		  <form asp-controller="Comments" asp-action="Reply" method="post">
		    <input name="Content" type="text" class="materialize-textarea" height="4" width="20"/>
		    <input class="btn" type="submit" value="@strings["Comment_Reply"]"/>
		    <input asp-for="RouteID" type="hidden" value="@Model.RouteID"/>
		    <input asp-for="CommentID" type="hidden" value="@Model.CommentID"/>
		  </form>
		</div>
	}


	  <br />

	  @*Print comment children below.*@
	  @foreach (CommentViewModel child in Model.Children)
	  {
		  @Html.Partial("Comment", child);
	  }
	</div>
}