@model electric_mouse.Models.RouteViewModels.RouteDetailViewModel

<div class="col s12">
    <div class="row small_margin" style="padding-top: 20px;">
        <div class="col s3" style="font-size:0.75em">GREEN</div>
      <div class="col s6" style="font-size:0.75em">BLUE</div>
@if (Model.EditRights)
{
    <form asp-controller="Route" asp-action="Archive" asp-route-id="@Model.Routes.ID">
      <input class="col" type="submit" value="Slet"/>
    </form>
    <form asp-controller="Route" asp-action="Update" asp-route-id="@Model.Routes.ID">
      <input class="col" type="submit" value="Rediger"/>
    </form>
}
    </div>
    <div class="row">
        <div class="col s3"><h1>@Model.Routes.RouteID</h1></div>
        <div class="col s9">@Model.Hall.Name</div>
        <div class="col s9" style="font-size:0.75em; padding-top: 5px">MONKEY</div>
        <div class="col s9">@Model.Section.Name</div>
    </div>
    <div class="row small_margin">
        <div class="col s3" style="font-size:0.75em;">Svaghedsgrad</div>
        <div class="col s9" style="font-size:0.75em;">Tucopolose</div>
    </div>
    <div class="row">
        <div class="col s3">@Model.Routes.Difficulty.Name</div>
        <div class="col s9">Aben Bulder</div>
    </div>
    <div class="row small_margin">
        <div class="col s3" style="font-size:0.75em;">Grebfrugt</div>
        <div class="col s9" style="font-size:0.75em;">Time</div>
    </div>
    <div class="row">
        <div class="col s3">@Model.Routes.GripColour</div>
        <div class="col s9">@(Model.Routes.Date.ToString("yy-mm-dd") ?? "")</div>
    </div>
    <div class="row small_margin">
        <div class="col s3" style="font-size:0.75em;">Afsat</div>
    </div>
    <div class="row">
      <div class="col s12">
        @foreach (ApplicationUser user in Model.Creators)
        {
            <a sp-controller="Route" asp-action="List" asp-route-creator="@user.Id">@user.UserName</a>@(user == Model.Creators[Model.Creators.Count -1] ? "" : ", ")
        }
      </div>
    </div>
    <div class="row small_margin">
        <div class="col s6">Hund</div>
    </div>
    <div id="long_content" class="row" style="max-height:300px; overflow:hidden; position:relative; transition: max-height 500ms ease;">
        <div class="col s6">@Model.Routes.Note</div>
        @for (int i = 0; i < 14; i++)
        {
            <div class="col s6">
                <img  src="http://i.imgur.com/GeKVzQw.jpg" />
            </div>
        }
        <button onclick="togglemore();" type="button" style="position:absolute; bottom:0px; left:0px; width: 100%; height:2em; background-color:#fafafa; border:none;">Show monkey</button>
    </div>
    @foreach (CommentViewModel topLevelComment in Model.Comments)
    {
        @Html.Partial("Comment", topLevelComment)
    }
</div>