@model electric_mouse.Models.UserViewModels.UserListViewModel
@inject UserManager<ApplicationUser> UserManager
<h2>User View</h2>


<div class="col s12">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="app_Name">Name</th>
                    <th>User Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {

                    <tr>
                        <td>@item.UserName</td> @*TODO: skal ændres til DisplayName*@
                        @if (await UserManager.IsInRoleAsync(item, electric_mouse.Services.RoleHandler.Admin))
                        {
                            <td>Administrator</td>
                            <td>
                                
                                <form asp-controller="User" asp-action="DemoteAdmin" method="post">
                                    <button type="submit" class="btn waves-effect waves-light red right">Demote to Member</button>
                                    <input type="hidden" name="ID" value="@item.Id" />
                                </form>

                                <button type="submit" class="btn waves-effect waves-light red right" disabled>Ban</button>
                            </td>
                        }
                        else if (await UserManager.IsInRoleAsync(item, electric_mouse.Services.RoleHandler.Post))
                        {
                            <td>Active</td>
                            <td>
                                <form asp-controller="User" asp-action="PromoteMember" method="post">
                                    <button type="submit" class="btn waves-effect waves-light red right">Promote to Admin</button>
                                    <input type="hidden" name="ID" value="@item.Id"/>

                                </form>
                                <form asp-controller="User" asp-action="Ban" method="post">
                                    <button type="submit" class="btn waves-effect waves-light red right">Ban</button>
                                    <input type="hidden" name="ID" value="@item.Id" />
                                </form>
                            </td>
                        }
                        else 
                        {
                            <td>Banned</td>
                            <td>
                                <button type="submit" class="btn waves-effect waves-light red right" disabled>Promote to Admin</button>
                                <form asp-controller="User" asp-action="Unban" method="post">
                                    <button type="submit" class="btn waves-effect waves-light red right">Unban</button>
                                    <input type="hidden" name="ID" value="@item.Id"/>
                                </form>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>