@model electric_mouse.Models.UserViewModels.UserListViewModel
@inject UserManager<ApplicationUser> UserManager
@{
	var strings = ViewBag.Language.Strings;
}

<div class="col s12">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th class="app_Name">@strings["User_Username"]</th>
                <th>@strings["User_Status"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Users)
            {

                <tr>
                    <td>@item.DisplayName</td>
                    @if (await UserManager.IsInRoleAsync(item, electric_mouse.Services.RoleHandler.Admin))
                    {
                        <td>@strings["User_Admin"]</td>
                        <td>

                            <form asp-controller="User" asp-action="DemoteAdmin" method="post">
                                <button type="submit" class="btn waves-effect waves-light red right">@strings["Demote_Admin"]</button>
                                <input type="hidden" name="ID" value="@item.Id"/>
                            </form>

                            <button type="submit" class="btn waves-effect waves-light red right" disabled>@strings["Ban_Member"]</button>
                        </td>
                    }
                    else if (await UserManager.IsInRoleAsync(item, electric_mouse.Services.RoleHandler.Post))
                    {
                        <td>@strings["User_Member"]</td>
                        <td>
                            <form asp-controller="User" asp-action="PromoteMember" method="post">
                                <button type="submit" class="btn waves-effect waves-light red right">@strings["Promote_To_Admin"]</button>
                                <input type="hidden" name="ID" value="@item.Id"/>

                            </form>
                            <form asp-controller="User" asp-action="Ban" method="post">
                                <button type="submit" class="btn waves-effect waves-light red right">@strings["Ban_Member"]</button>
                                <input type="hidden" name="ID" value="@item.Id"/>
                            </form>
                            <button class="btn waves-effect waves-light red right" onclick="Alert('@item.Id')">@strings["Delete"]</button>
                        </td>
                    }
                    else
                    {
                        <td>@strings["User_Banned"]</td>
                        <td>
                            <button type="submit" class="btn waves-effect waves-light red right" disabled>@strings["Promote_To_Admin"]</button>
                            <form asp-controller="User" asp-action="Unban" method="post">
                                <button type="submit" class="btn waves-effect waves-light red right">@strings["Unban_Member"]</button>
                                <input type="hidden" name="ID" value="@item.Id"/>
                            </form>
                            <button class="btn waves-effect waves-light red right" onclick="Alert('@item.Id')">@strings["Delete"]</button>
                        </td>
                    }

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div id="dialog" title="Delete member" style="display: none;">
    <p>@strings["Warning_Delete_Member"]</p>
    <form asp-controller="User" asp-action="Delete" method="post">
        <button type="submit" class="btn waves-effect waves-light red right">@strings["Delete"]</button>
        <input id="dialog_id" type="hidden" name="ID" value="1" />
    </form>
</div>

<script>
    function Alert (id)
    {
        $("#dialog_id").val(id);
        $("#dialog").dialog();
    }
</script>