@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	var strings = ViewBag.Language.Strings;
}

@if (SignInManager.IsSignedIn(User))
{
	ApplicationUser user = await UserManager.GetUserAsync(User);
	<ul id="user_dropdown" class="dropdown-content">
	  <li>
	    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
	      <a href="javascript:void(0)" onclick="$(this).closest('form').submit()"><i class="material-icons">exit_to_app</i>@strings["User_Log_Out"]</a>
	    </form>
	  </li>
	</ul>

	if (await UserManager.IsInRoleAsync(user, electric_mouse.Services.RoleHandler.Admin))
	{
        @* Admin Dropdown *@
		<ul id="admin_dropdown" class="dropdown-content" style="width: auto !important;">
		  <li>
		    <a href="/difficulty/create">@strings["Route_Difficulties"]</a>
		    <a href="/user/list">@strings["User_Name_Plural"]</a>
		    <a href="/hall/create">@strings["Route_Halls"]</a>
		    <a href="/section/">@strings["Route_Sections"]</a>
            <a href="/route/list?archived=true">Archived Routes</a>
          </li>
		</ul>

        <ul id="mobile_admin_dropdown" class="dropdown-content">
            <li>
              <a href="/difficulty/create">@strings["Route_Difficulties"]</a>
              <a href="/user/list">@strings["User_Name_Plural"]</a>
              <a href="/hall/create">@strings["Route_Halls"]</a>
              <a href="/section/">@strings["Route_Sections"]</a>
                <a href="/route/list?archived=true">Archived Routes</a>
            </li>
        </ul>
    }

}

<ul id="language_dropdown" class="dropdown-content">
  <form asp-controller="Language" asp-action="Change" asp-route-returnurl="/" method="post">
    <li>
      @foreach (var c in ViewBag.Language.Countries)
      {
	      <a href="javascript:void(0)" onclick="langUpdate('@(c.Value)');"><img src="/images/@(c.Value).svg" class="nav-flag-dropdown"/></a>
      }
      <input type="hidden" name="newLocale" id="lang_id" value="" />
    </li>
  </form>
</ul>

@* Mobile *@
<ul id="mobile_language_dropdown" class="dropdown-content">
    <form asp-controller="Language" asp-action="Change" asp-route-returnurl="/" method="post">
        <li>
            @foreach (var c in ViewBag.Language.Countries)
            {
                <a href="javascript:void(0)" onclick="langUpdate('@(c.Value)');"><img src="/images/@(c.Value).svg" class="nav-flag-dropdown" /></a>
            }
            <input type="hidden" name="newLocale" id="lang_id" value="" />
        </li>
    </form>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="nav-content">
        <a class="brand-logo" href="/">Klatreklub</a>

        <a href="javascript:void(0)" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        @* Desktop Navigation *@
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-button" href="javascript:void(0)" data-activates="language_dropdown" data-beloworigin="true" style="max-height: 64px;">
              <img src="/images/@(ViewBag.Language.Country).svg" class="nav-flag"/><i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i>
            </a>
          </li>
          <li><a href="/route"><img src="/images/climber_boulder.svg" class="left" />@strings["Route_Name_Plural"]</a></li>
          @if (SignInManager.IsSignedIn(User))
          {
	          ApplicationUser user = await UserManager.GetUserAsync(User);
	          if (await UserManager.IsInRoleAsync(user, electric_mouse.Services.RoleHandler.Admin))
	          {
		          <li>
		            <a class="dropdown-button" href="#" data-activates="admin_dropdown" data-beloworigin="true">Admin<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i></a>
		          </li>
	          }
	          <li>
	            <a class="dropdown-button" href="#" data-activates="user_dropdown" data-beloworigin="true"><i class="material-icons left">person</i>@(user.DisplayName)<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i></a>
	          </li>
          }
          else
          {
	          <li><a href="/Account/Login"><i class="material-icons left">person</i>@strings["User_Log_In"]</a></li>
          }
        </ul>

        @* Mobile Navigation *@
        <ul class="side-nav" id="mobile-nav">
          <li><a href="/"><i class="material-icons">home</i>Home</a></li>
          <li><a href="/route"><i class="material-icons">place</i>@strings["Route_Name_Plural"]</a></li>
          <li>
            <a class="dropdown-button" href="javascript:void(0)" data-activates="mobile_language_dropdown" data-beloworigin="true" style="max-height: 64px;">
              <i class="material-icons left" style="margin-left: 0;">language</i>Select Language<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i>
            </a>
          </li>
          @if (SignInManager.IsSignedIn(User))
          {
	          ApplicationUser user = await UserManager.GetUserAsync(User);
	          if (await UserManager.IsInRoleAsync(user, electric_mouse.Services.RoleHandler.Admin))
	          {
		          <li>
		            <a class="dropdown-button" href="#" data-activates="mobile_admin_dropdown" data-beloworigin="true"><i class="material-icons left">person</i>Admin<i class="material-icons right" style="margin-left: 0;">arrow_drop_down</i></a>
		          </li>
	          }
	          <li>
	            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
	              <a href="javascript:void(0)" onclick="$(this).closest('form').submit()"><i class="material-icons">exit_to_app</i>@strings["User_Log_Out"]</a>
	            </form>
	          </li>
          }
          else
          {
	          <li><a href="/Account/Login"><i class="material-icons">person</i>@strings["User_Log_In"]</a></li>
          }

        </ul>
      </div>

    </div>
  </nav>
</div>