@model electric_mouse.Models.RouteViewModels.SectionListViewModel
@{
	var strings = ViewBag.Language.Strings;
}

<div class="col s12">
    <div class="row" style="margin-bottom: 0;">
        <form asp-controller="Section" asp-action="Create" method="post">
            <div class="input-field col">
                <button type="submit" class="btn waves-effect waves-light red" style="padding: 0 15px;">
                    <i class="material-icons left">add</i>
                    @strings["Sections_Create"]
                </button>
            </div>
            <div class="input-field col s4">
                <label>@strings["Sections_Name"]</label>
                <input type="text" id="SectionName" name="SectionName" />
            </div>
            <div class="input-field col s4">
                <select name="HallID" id="HallID">
                    <option disabled selected value="">@strings["Hall_Select"]</option>
                    @foreach (var hall in Model.Halls)
                    {
                        <option value="@hall.RouteHallID">@hall.Name</option>
                    }
                </select>
            </div>

        </form>
    </div>
</div>

@* Table *@
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th class="app_name">@strings["Route_Name"]</th>
                <th class="app_hallname">@strings["Route_Hall"]</th>
                <th class="app_routeamount">@strings["Route_Amount"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="app_sectiontable">
            @foreach (var item in Model.Sections)
            {
                @if (!item.Archived)
                {
                    <tr data-id="@item.RouteSectionID">
                        <td class="app_name">@item.Name</td>
                        <td class="app_hallname">@item.RouteHall.Name</td>
                        <td class="app_routeamount">@item.Routes.Count(r => r.Route.Archived == false)</td>
                        <td>
                            @if (item.Routes.All(r => r.Route.Archived))
                            {
                                <button class="btn waves-effect waves-light red right" type="submit" onclick="Dialog('@item.RouteSectionID')">@strings["Delete"]</button>
                            }
                            else
                            {
                                <button class="btn waves-effect waves-light red right" type="submit" disabled>@strings["Delete"]</button>
                            }
                            <form asp-controller="Section" asp-action="Clear" method="post">
                                @* We gray out the buttons if there are no routes (the buttons dont do anything then) *@
                                @if (item.Routes.Count(r => r.Route.Archived == false) > 0)
                                {
                                    <button class="btn waves-effect waves-light red right" type="submit">@strings["Clear"]</button>
                                }
                                else
                                {
                                    <button class="btn waves-effect waves-light red right" type="submit" disabled>@strings["Clear"]</button>
                                }
                                <input type="hidden" name="SectionID" value="@item.RouteSectionID" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="dialog" title="Delete section" style="display: none;">
    <p>@strings["Warning_Delete_Section"]</p>
    <form asp-controller="Section" asp-action="Delete" method="post">
        <button type="submit" class="btn waves-effect waves-light red right">@strings["Delete"]</button>
        <input id="dialog_id" type="hidden" asp-for="SectionID" value="1" />
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('select').material_select();

	        initDefaultTable();
        });

        function Dialog(id) {
            $("#dialog_id").val(id);
            $("#dialog").dialog({
                draggable: false,
                modal: true,
                width: 400
            });
        }
    </script>
}