@model electric_mouse.Models.HallViewModels.HallCreateViewModel
@{
	var strings = ViewBag.Language.Strings;
}

<div class="col s12">
    <div class="row" style="margin-bottom: 0;">
      <form asp-controller="Hall" asp-action="Create" method="post">
            <div class="input-field col">
              <button type="submit" class="btn waves-effect waves-light red" style="padding: 0 15px;"><i class="material-icons left">add</i>
                @strings["Hall_Create"]
              </button>
            </div>
            <div class="input-field col s4">
              <input type="text" name="Name"/>
              <label for="Name">@strings["Hall_Name"]</label>
            </div>
          <div class="input-field col s3">
              <select Name="Type">
                  <option value="" selected">@strings["None"]</option>
                  <option value="1">Boulder</option>
                  <option value="2">Sport</option>
              </select>
          </div>
      </form>
    </div>
</div>

<div class="col s12">
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th class="app_Name">@strings["Hall_Name"]</th>
        <th>@strings["Sections_Amount"]</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model.Halls)
      {
	      <tr>
	        <td>@item.Name</td>
	        <td>@item.Sections.Count(s => s.Archived == false)</td>
	        <td>
	          <form asp-controller="Hall" asp-action="Delete" method="post">
	            @if (item.Sections.Count(s => s.Archived == false) > 0)
	            {
		            <button type="submit" class="btn waves-effect waves-light red right" disabled>@strings["Delete"]</button>
	            }
	            else
	            {
		            <button type="submit" class="btn waves-effect waves-light red right">@strings["Delete"]</button>
	            }

	            <input type="hidden" name="ID" value="@item.RouteHallID"/>
	          </form>
	        </td>
	      </tr>
      }
      </tbody>
    </table>
  </div>
</div>

@section scripts {
  <script>
	$(document).ready(function () {
		initDefaultTable();
	});
  </script>
}